.buttonContainer {
  display: flex;
  flex-direction: column;
}

.loginButton {
  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
  svg {
    margin-right: 15px;
    animation: loading 1s linear infinite;
  }


  @keyframes loading {
    to {
      transform: rotate(1turn);
    }
  }
}
.spanError {
  color: red;
  font-weight: normal;
}

.styledPagination {
  align-items: center;
}

.registers {
  font-size: 12px;
  margin-right: 16px;
}

.allPages {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
}
